body{
    background-color: #c71b38;
}
form{
 position: absolute;
 top: 25%;
 left: 30px;
 background-color: #704b52;
 display: flex;
 flex-direction: column;
 align-items: center;
text-align: center;
width: 50%;
gap: 20px;
padding: 60px;
border-radius: 20px;
top: 26%;
left: 23%;
}

h1{
    font-size: 60px;
    font-style: italic;
}
input{
    width: 60%;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}
button{
    background-color: #f14663;
    width: 200px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
p{
    font-size: 18px;
}
audio{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: center;
   bottom: 1%;
   left: 43%;
}