body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/014/526/827/original/aesthetic-pastel-gradient-purple-blue-and-pink-gradient-wallpaper-illustration-perfect-for-backdrop-wallpaper-background-banner-vector.jpg);
}
td, th{
    border: 3px solid black;
}
ul{
    list-style: none;
}
.picture{
    width: 6.4cm;
    height: 5px;
    border: none;
    border-radius: 10px;
    margin-left: 40cm;
}
.name{
    height: 100px;
}
.parent{
    background-color: rgb(151, 87, 87);
}
.child{
    background-color: bisque;
}
.skills{
    border: none;
}